@import "tailwindcss";
@import "tailwindcss/preflight.css" layer(base);

/* stylelint-disable-next-line at-rule-no-unknown */
@plugin "daisyui" {
  themes: winter, coffee, dracula, cyberpunk;
}

html {
  font-family: sans-serif;
}

h1 {
  margin: 1rem 0;
  font-size: 2rem;
}