@import "tailwindcss";
@import "tailwindcss/preflight.css" layer(base);
@plugin '@tailwindcss/typography';

@plugin "daisyui" {
  themes: winter, coffee, dracula, cyberpunk;
}

html {
  font-family: sans-serif;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

h1 {
  margin: 1rem 0;
  font-size: 2rem;
}

@font-face {
  font-family: "Special Elite";
  src: url("/fonts/SpecialElite-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

.special-elite-regular {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}
