---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import Prose from '../components/Prose.astro';
---

<BaseLayout pageTitle="About">
  <section class="hero min-h-[60vh]">
    <div class="hero-content text-left">
      <div class="max-w-2xl">
        <h2 class="special-elite-regular text-2xl">
        Sean McLeaish</h2>
        <Prose>
        <br/>
        <p class="mb-4">
          I'm a lifelong computer hobbyist currently attending a data analytics bootcamp for a broadening position at work.
          In 2023 I had a similar opportunity to do a software development bootcamp run by the same instructional team. Being a professional
          programmer is not in my job title, but I work in an information heavy environment. I've been encouraged to take these nine month
          periods away from my day job to get a better idea of the nuts and bolts technical requirements and limitations to meet our organization's institutional goals.
          I've worked as a developer with data science, devops, and full-stack teams, working with python, go, and typescript.
        </p>
        <p class="mb-4">
          I'm personally interested in cybersecurity, privacy/security law, radio, and embedded electronics. When I'm programming for fun, I've been trying to build more in rust.
        </p>
        <p class="mb-4">
        </p>
        </Prose>
      </div>
    </div>
  </section>
</BaseLayout>
