---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About Me";
---

<BaseLayout pageTitle="About Me">
  <section class="hero min-h-[60vh]">
    <div class="hero-content text-left">
      <div class="max-w-2xl">
        <h2 class="font-mono mb-6">SMcLeaish</h2>
        <p class="mb-4">
          I study data analytics. My primary focus is network analysis. 
        </p>
        <p class="mb-4">
          I'm interested in software development, cybersecurity, privacy/security law, radio, and electronics.
        </p>
        <p class="mb-4">
          I've developed in Python, Rust, Go, and JavaScript.
        </p>
      </div>
    </div>
  </section>
</BaseLayout>
