---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import Prose from '../components/Prose.astro';
---

<BaseLayout pageTitle="About">
  <section class="hero min-h-[60vh]">
    <div class="hero-content text-left">
      <div class="max-w-2xl">
      <br/>
        <h2 class="special-elite-regular text-2xl">
        Sean McLeaish</h2>
        <Prose>
        <br/>
        <p class="mb-4">
        I’m a lifelong computer hobbyist currently in a data analytics bootcamp, following a prior software development program run by the same team. 
            Though programming isn’t in my job title, I work in an information-dense environment and often bridge technical and operational work.
          </p>
          <p class="mb-4">
          These training periods let me step back from daily duties to deepen my understanding of the technical systems that support our organization. 
          I’ve collaborated with data science, DevOps, and full-stack teams using Python, Go, and TypeScript.
        </p>
        <p class="mb-4">
          Outside of work, I’m interested in cybersecurity, privacy law, amateur radio, and embedded electronics. Lately, I’ve been building more projects in Rust.
        </p>
        <p class="mb-4">
        </p>
        </Prose>
      </div>
    </div>
  </section>
</BaseLayout>
