---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About Me";
---

<BaseLayout pageTitle="About Me">
  <section class="hero min-h-[60vh]">
    <div class="hero-content text-left">
      <div class="max-w-2xl">
        <h1 class="text-5xl font-bold mb-6">Hi, I’m Sean</h1>
        <p class="mb-4">
          I've been a tech hobbyist since Slackware came on a CD in the back of a book.
        </p>
        <p class="mb-4">
          I'm interested in cybersecurity, privacy/security law, amateur radio, and electronics.
        </p>
        <p class="mb-4">
          I like to cook and experiment; at various times I might have something smoking, fermenting, drying, or curing.
        </p>
        <p class="mb-4">
          I've developed in Python, Rust, Go, and JavaScript.
        </p>
        <p>
          This blog is built with Astro and styled using Tailwind CSS and DaisyUI. It's a project to develop light and modern without a lot of framework overhead.
        </p>
      </div>
    </div>
  </section>
</BaseLayout>
