---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting.astro';
const pageTitle = "Home (WIP)";
---

<BaseLayout pageTitle={pageTitle}>
  <p>This is my ugly little Astro blog. I'm publishing it as is so I'm forced to make it better!</p>
</BaseLayout>
