---
const { date, title } = Astro.props;
const parsedDate = date instanceof Date ? date : new Date(date);
---

<div class="mb-4">
  <h2 class="text-xl font-bold">{title}</h2>
  <p class="text-sm text-gray-500">
    {parsedDate.toLocaleDateString(undefined, {
      year: "numeric",
      month: "long",
      day: "numeric",
    })}
  </p>
</div>

