---
const { platform, username, image } = Astro.props;
---

<a href={`https://www.${platform}.com/${username}`}>
  {image ? (
    <img src={image} alt={`${platform} icon`} class="w-6 h-6" />
  ) : (
    platform
  )}
</a>
